[build]
builder = "nixpacks"

[build.nixpacksPlan]
providers = ["python"]

[build.nixpacksPlan.phases.setup]
aptPkgs = ["libnss3", "libatk-bridge2.0-0", "libdrm2", "libxkbcommon0", "libgbm1", "libasound2t64"]

[build.nixpacksPlan.phases.install]
cmds = ["pip install -r requirements.txt", "playwright install chromium"]

[deploy]
startCommand = "python run.py"
restartPolicyType = "always"
